body {
	background: black;
}
* {
	min-height: 10px;
}
.postcard {
	background-image: url("https://images.squarespace-cdn.com/content/v1/6127310e067bcd08b5dc4a2b/1668889307112-ZSW92C8CHH1LBF7BKRJZ/20140329_111232-2.jpg?format=1500w");
	width: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: auto;
}
.postcard-header img {
	width: 40px;
	float: right;
	margin-left: 300px;
}
.postcard-header {
	display: flex;
	height: 50px;
	display: flex;
}
.postcard-header h1 {
	width: 25px;
	margin-left: 10px;
	font-size: 30px;
}
.postcard-body {
	display: flex;
	width: 100%;
	text-shadow: #fc0 1px 0 10px;
	color: black;
}
.body-left p:first-child {
	margin-top: 1px;
	padding: 2%;
}
.body-left,
.body-right {
	padding: 5%;
	flex-basis: 50%;
}
.body-right {
	margin-top: 1px;
	display: flex;
	flex-direction: column;
	font-size: 10px;
}
.body-left p {
	font-size: 20px;
	color: rgb(0, 0, 0);
	display: block;
	line-height: 20px;
	text-align: center;
}
.input-line {
	display: block;
	position: relative;
	margin-bottom: 10px;
}
.input-line input {
	border: none;
	border-bottom: 1px solid gray;
	outline: none;
	width: 100%;
	padding-bottom: 5px;
	font-size: 12px;
}
.postcard-footer {
	text-align: center;
	width: 100%;
}
.button {
	background-color: rgb(243, 255, 140);
}
